# **"Oktatok" tábla**

## 1\. "beosztás" oszlop

### a) Az oktatók beosztás id-jának/"szintjének" a legmagasabb, legalacsonyabb előfordulása, valamint a beosztások "szintjének" átlaga, szórása, varianciája.

In [174]:
SELECT MIN(beosztás) AS 'Legkisebb', 
       MAX(beosztás) AS 'Legnagyobb', 
       AVG(beosztás) AS 'Átlag', 
       STDEV(beosztás) AS 'Szórás', 
       VAR(beosztás) AS 'Variancia'
FROM Oktatok

Legkisebb,Legnagyobb,Átlag,Szórás,Variancia
1,6,2,"1,8330302779823358","3,3599999999999994"

### b) A beosztások "átlagszintje" alá, rá és fölé eső oktatók százaléka.

In [175]:
SELECT (SELECT COUNT(*) FROM Oktatok WHERE beosztás < (SELECT AVG(beosztás) FROM Oktatok))*100/COUNT(*) AS 'Átlag alatti (%)',
       (SELECT COUNT(*) FROM Oktatok WHERE beosztás = (SELECT AVG(beosztás) FROM Oktatok))*100/COUNT(*) AS 'Átlagos (%)',
       (SELECT COUNT(*) FROM Oktatok WHERE beosztás > (SELECT AVG(beosztás) FROM Oktatok))*100/COUNT(*) AS 'Átlag feletti (%)'
FROM Oktatok

Átlag alatti (%),Átlagos (%),Átlag feletti (%)
32,20,48

### c) A különböző beosztású tanárok darabszáma.

In [176]:
SELECT b.beosztasnev AS 'Beosztásnév', /*b.beosztas_id AS 'Beosztás id.',*/ COUNT(o.oktato_id) AS 'Darabszám'
FROM Oktatok o RIGHT JOIN Beosztasok b ON o.beosztás=b.beosztas_id
GROUP BY b.beosztas_id, b.beosztasnev
ORDER BY COUNT(o.oktato_id) DESC

Beosztásnév,Darabszám
Óraadó,8
Tanársegéd,5
Docens,4
Egyetemi tanár,4
Adjunktus,3
Professzor,1
Tudományos munkatárs,0

## 2\. "titulus" oszlop

### a) Az oszlopban szereplő minden titulus

In [177]:
SELECT titulus AS "Titulus", COUNT(*) AS "Darabszám"
FROM Oktatok
WHERE titulus IS NOT NULL
GROUP BY titulus
ORDER BY COUNT(*)

Titulus,Darabszám
"Prof, tanszékvezető",1
Prof.,1
Dr.,8

### b) Azon oktatók aránya, akik nem rendelkeznek titulussal.

In [178]:
SELECT (SELECT COUNT(*) FROM Oktatok WHERE titulus IS NULL)*100/COUNT(*) AS 'Nincs titulus(%)',
       (SELECT COUNT(*) FROM Oktatok WHERE titulus IS NOT NULL)*100/COUNT(*) AS 'Van titulus(%)'
FROM Oktatok

Nincs titulus(%),Van titulus(%)
60,40

### c) Azon oktatók száma, akiknek több titulusa van.

In [179]:
SELECT COUNT(*) AS "Darabszám"
FROM Oktatok
WHERE CHARINDEX(',' , titulus)<>0

Darabszám
1